.contenido {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.titulo-cuestionario {
    background: #1d77ea;
    color: white;
    padding: 15px 40px;
    border-radius: 14px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Área del cuestionario */
.contenedor-cuestionario {
    width: 85%;
    height: 450px;
    background: #eeeeee;
    border-radius: 20px;
    padding: 20px;
}

.placeholder {
    text-align: center;
    margin-top: 180px;
    font-size: 24px;
    color: #666;
}

/* Ícono regresar */
.nav-icons {
    position: absolute;
    right: 40px;
    top: 22px;
}

.icon {
    width: 32px;
    cursor: pointer;
}
