.contenido {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tags materia y archivo */
.info-tags {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.tag {
    background: #e9eefc;
    padding: 15px 30px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/* Vista previa */
.preview-container {
    width: 80%;
    height: 420px;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-text {
    font-size: 28px;
    font-weight: bold;
    color: #111;
}

/* Iconos nav */
.nav-icons {
    position: absolute;
    right: 40px;
    top: 20px;
    display: flex;
    gap: 25px;
}

.icon {
    width: 32px;
    cursor: pointer;
}
